<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Store Website</title>
    <link rel="stylesheet" href="../static/CSS/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo" class="logo-img original">
            <img src="../static/images/logo-inverse.png" alt="Alternate Logo" class="logo-img alternate">
        </div>
        <div class="header-right"></div>
        <div class="icon-container">
            <button class="gpt-button">
                <img src="../static/images/gpt-icon.svg" alt="GPT Icon" class="gpt-icon-img">
            </button>
            <div class="profile-icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="cart-button">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="navbar-button">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <div class="background-container">
        <div class="content">
            <div class="sign-in-container">
                <div class="sign-in-header">
                    <h1>Welcome to Needle Haven</h1>
                    <p>Small Business Marketplace, Fashion Items, Trendy Outfits, Exclusive Collections, Support Local, Business Growth, Fashion Accessories.</p>
                </div>
                <div class="sign-in-form">
                    <h2>User Login</h2>
                    <form action="#">
                        <div class="input-group">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Username">
                        </div>
                        <div class="input-group">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Password">
                        </div>
                        <div class="remember-me">
                            <label>
                                <input type="checkbox">
                                Remember
                            </label>
                            <a href="#" class="forgot-password">Forgot password?</a>
                        </div>
                        <button type="submit">Login</button>
                    </form>
                    <p class="sign-up-prompt">Don't have an account? <a href="#" class="sign-up-link">Sign up</a></p>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/JS/login.js"></script>
</body>
</html>
